//COLORS
$white: #fff;
$offwhite:#e0e0d2;
$grey:#EAE9E6;
$darkgrey: #4a4a4a;
$lightgray:#a9a9a9;
$black: #000;
$seafoam:#75cbac;

$lightblue:#498fe1;
$medblue:#021636;
$type: #5c5b5c;

$darkblue:#04072b;

$bg-blue: #050719;
$input-bg:#292f7d;
$input-bg-hov:#529a8a;
$input-text:#47caae;

$blue-line:#111135;
$bg-trans:rgba(11, 13, 49, 0.36);
$btn-bg:#74caaa;

$status-blue:#0c1035;


$no-change:rgba(71, 202, 174, 0.33);
$one-change:rgba(71, 202, 174, 0.68);
$two-change:rgb(71, 202, 174);


$error-text:#ff6363;

//FONTS
$ops: 'Open Sans', sans-serif;
@mixin display {
  font-family: "Open Sans",sans-serif;
}
@mixin paragraph {
  font-family: "Open Sans",sans-serif;
}
@mixin opensansl {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
}
html {   
background:$bg-blue url(../images/bg-gradient.png) no-repeat;
background-position:top left;
height: 100%;
font-size: 62.5%; /* Sets up the Base 10 stuff */  
* {
    -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	}}

// @include media($phone) {}
// @include media($tablet) {}

//navigation
.navigation {
	width:100%;
	height:50px;
	display:block;
	padding:15px;
	
}

.menu-bar { 
	width: 100%;
	position:fixed;
    height: 20px;
    display: block;
    z-index:9999;
	.menu-button {
    	width: auto;
    	height: auto;
    	border: 1px solid $white;
    	background-position: 11px 10px;
    	margin: 20px 0px 0px 20px;
    	z-index: 9999;
    	float: left;
    	transition: all 0.2s ease-in-out;
    	position: relative;
    	padding: 5px 15px 5px 15px;
    	text-transform:uppercase;
    	color:$white;
	&:hover {
	    	color:$input-text;
	    	border:1px solid $input-text;
	    	transition: all 0.2s ease-in-out;
	}}

}	

.main-menu.open {
	margin: 0px 0px 0px 0px;
	transition: all 0.5s ease-in-out;
}
.main-menu {
	width: 180px;
    float: left;
    height: 100%;
    border-right:0.5px solid rgba(255, 255, 255, 0.12);
    position: fixed;
    top: 0px;
    padding: 120px 0px 0px 20px;
    margin: 0px 0px 0px -180px;
    transition: all 0.5s ease-in-out;

    a {
    	
    	float:none;
    	width:100%;
    	display:block;
    	margin:10px 0px 0px 0px;
    }
}

.tank-menu {
    margin: 25px 0px 0px 20px;
	a { 
		margin: 0px 3px 0px 3px;
	}
}
