//IMPORT
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'helpers/helpers';
@import 'base/base';
@import 'custom/custom';

// Type
h1, h2, h3, h4 {margin:5px 0; margin-bottom:5px; padding:0; text-decoration: none; }
h1, h1 a { @include font-size(5);  color:$white; font-weight:600; font-family:$ops;}
h2, h2 a {   @include font-size(3.2); color:$white; font-family:$ops; text-decoration:none; font-weight: 100; letter-spacing: 5px; text-transform: uppercase; }
h3, h3 a {   @include font-size(2.6); color:$white; font-family:$ops;  text-decoration:none;   }
h4, h4 a { @include font-size(2.0 ); color:$white; font-family:$ops; font-weight:100;  }
h6, h6 a { @include font-size(1.2); color:$white; font-family:$ops; font-weight:100; }
h5 {@include font-size(1.6); color:$white; font-family:$ops; font-weight:500; }
p { padding-top:10px; @include font-size(1.2);  font-weight:300; line-height:20px; font-family:$ops; color:$white;}
span, ol, ul, li { @include font-size(1.2);  font-weight:300; font-family:$ops; color:$white;}
a { color: $white; cursor:pointer!important; @include font-size(1.2); text-decoration:none; @include opensansl;
    &:hover { text-decoration: none; opacity:0.9; color:$input-text;}
    &:focus { outline: 0; }
  }
h5.login-notice {  color:$darkgrey; margin: 20px auto; display: block; width: 369px;}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

a.static { color:$input-text; }

// Utility // Global Styles
.clearfix { @include clearfix; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
hr { clear: both; width: 100%; height: 1px; background: #bbb; border: 0; }
img {  height:auto; margin:0; padding:0;}
.hide {display:none!important;}
.show {display:block!important;}
.bo {overflow: hidden; display:block;}
.page-slug {display:none;}
.unl {border-bottom:solid 1px $black; padding-bottom:4px; display: inline-block;}
.readmore { color:$black; float:right; display:inline-block; margin:15px;}
.master-overlay {background:$black; opacity: 0.7; z-index: 999; position: absolute; width: 100%; height: 100%; display: none;}
.noclick {width: 100%; height: 381px; position: absolute; z-index: 9999;}
.mauto {margin:0 auto;}
.third {@include third;}
.fourth {@include fourth;}
.half {@include half;}
input {
	@include opensansl;
}


blockquote {@include span-columns(12); float:none; margin:10px auto!important; }
@-moz-document url-prefix() { }	

.global-error.show {
	top:0px;
	transition: all 0.2s ease-in-out;
}
.global-error {
	top: -500px;
	width: 100%;
    position: fixed;
    z-index: 99999;
    color: white;
    background: #ff5c5c;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.global-suc {
	top: 0px;
	right:0px;
	height:45px;
	display:none;
	z-index:9999999;
	width: 100%;
    position: fixed;
    color: white;
    background:$one-change!important; 
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}
.global-message {
	top: 25%;
	right:0px;
	left:0px;
	height:150px;
	margin:0 auto;
	display:none;
	z-index:9999999;
	width: 100%;
	max-width:400px;
    position: fixed;
    color: white;
  	background: rgba(5, 7, 25, 0.95);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    .option-btn-container {
    	
    	margin:40px auto;
    	width: 170px;
    	
    	.option-btn {
    		float:left;
    		width:75px;
			text-align:center;
    	}
    }
}
.admin-bar {
	bottom:0px;
	width: 100%;
    position: fixed;
    z-index: 999;
    color: white;
    background: $input-bg;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.button, button {
    	width: auto;
    	height: 25px;
    	line-height:13px;
    	border: 1px solid $white;
    	float: left;
    	transition: all 0.2s ease-in-out;
    	position: relative;
    	padding: 5px 15px 5px 15px;
    	text-transform:uppercase;
    	color:$white;
    	background:none;
    	border-radius:0px;
	&:hover {
	    	color:$input-text;
	    	background:$input-bg;
	    	border:1px solid $input-text;
	    	transition: all 0.2s ease-in-out;
	}
}


.option-btn {
    // width: 85px;
    padding: 0px 10px 0px 10px;
    line-height: 24px;
    display: block;
    font-weight: 400;
    z-index:999;
    height: 25px;
    color: #47caae !important;
    text-align: left;
    border-radius: 15px;
    letter-spacing: 1px;
margin-right:10px;
    float:left;
	color:$input-text!important; 
	border:1px solid $input-bg;  
	transition: all 0.5s ease-in-out;
	&:hover{
		background:$input-bg-hov;
		transition: all 0.5s ease-in-out;
	}
	@include media ($phone) { 
		.text {
			display:none;
			}}}

.add-photo-btn {
	label { 
		font-weight:500;
		float:left;
		margin-right:10px;
	}
}


//table styles
table {
	   position:relative;
    	z-index:77;
    	width:100%;
    	max-width:600px;
	tr {
		    height: 35px;

		th {
			width:100%;
    		max-width:100px;
			padding:5px;
			color:$white;
			background:rgba(238, 238, 238, 0.08);
			border-bottom: 1px solid rgba(238, 238, 238, 0.08);
		}
		td {
			border-bottom: 1px solid rgba(238, 238, 238, 0.08);
			width:100%;
    		max-width:100px;
			padding:5px;
			color:$white;
			&:hover{
				background:rgba(238, 238, 238, 0.08);
				color:$input-text;
			}

		}
	}
}


//frame
.wrap.open {
	margin: 0px 0px 0px 200px;
	transition: all 0.5s ease-in-out;
}
.wrap {
	z-index:99;
	position:relative;
	@include full;
	margin: 0px 0px 0px 0px;
	float:none;
	transition: all 0.5s ease-in-out;

	
}
section.full {
	@include full;
	transition: all 0.5s ease-in-out;
}
section.frame {
	z-index:999;
	position:relative;
	overflow: hidden;
	@include frame;
}
section.full-frame {
	@include full-frame;
}

.buffer-50 {
	margin:50px 0px 50px 0px;
}

.logo {
	background:url(../images/logo.png) no-repeat;
	background-size: 100px;
    width: 110px;
    height: 122px;
	margin:20px auto!important;
}
.tank_img_bg {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: fixed;
    top: 0;
    opacity:0.1;
    z-index: 0;
}


//forms

input[type="color"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="text-area"], 
input[type="time"], 
input[type="url"], 
input[type="week"], 
input:not([type]), 
textarea,
select,
select[multiple=multiple]  {
	background: none;
    border-bottom: solid 1px #fff;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding: 8px;
    width: 100%;
    color: $white;
    @include font-size(1.1); 
	text-transform:none;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.06);
    &:active, &:focus {
    	border-bottom: solid 1px $input-bg-hov;
		color: $white !important;
  		box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.06)!important;
    }
}
select::placeholder, 
input::placeholder {
	color: $white !important;
}

input[type="submit"], .btn {
	margin-top:20px; 
	display:block; 
	padding:11px;
	@include font-size(1.1); 
	text-transform:none;
	line-height:0px; 
	font-weight:400; 
	width:auto; 
	height:25px; 
	color:$white!important; 
	text-align:center; 
	border-radius:15px;  
	letter-spacing:1px;
	background:none;
	border:1px solid $white;  
	transition: all 0.5s ease-in-out;
	&:hover{
		background:$input-text;
		transition: all 0.5s ease-in-out;
	}
   }



select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.form-links {
	display: block;
    float: none;
    overflow: hidden;
    width: 100%;
    padding: 21px 0px 0px 0px!important;
	a {
		font-size:9px;
		float:none;
	}
}
.form-contain.extended {
    height: 600px;
    top: 0px;
    opacity: 1;
}

.form-contain.show {
	top:0;
	opacity:1;
	transition: all 0.5s ease-in-out;
}
.form-contain {
	background: $menu;
    width: 100%;
    height: 197px;
    position: fixed;
    padding: 20px;
    margin:0 auto;
    left:0;
    right:0;
    opacity:0;
    top:-200px;
    overflow-y:scroll;
    z-index: 999999;
    transition: all 0.5s ease-in-out;
    .error {
		@include font-size(0.9);
		color:$error-text;
    }
    #tank-output {
    	width:200px;
    }
    form {
    	width:366px;
    	margin:0 auto;
    }
}
//param form
.param-form {
	width: 240px;
    padding: 10px 0px 0px 30px;
}


.overlay {	
    background: $bg-trans;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 88888;

}
.mouse-tool-tip {
	color:$black;
	display:none;
    position:fixed;
    overflow:hidden;
    z-index:999999999999;
	background:$white;
	padding:5px;}

//Reg form// frost

// .reg-form .step{
// 	padding: 50px;
// 	width: 100%;
// 	max-width: 330px;
// 	margin: 0 auto;
// 	height: auto;
// 	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
// }
.step-two {
	display:none;
}
.step-three {
	display:none;
}

#tank-img {
	display:none;
}

#loginform {
	label {display:none;}
}

.page-template-user-login *{
 margin: 0;
 padding: 0;
}

.page-template-user-login, .page-template-register {
	height:100%;
}
.page-template-user-login .frame{
    width: 100%;
    height: 100%;
    display: block;
    min-height: 560px;
    background-size: cover!important;
}

.page-template-register .frame{
	background:url(../images/bg2.jpg);
     background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
min-height: 560px;
    background-size: cover!important;
    
}
 
.login-form, .reg-form {
	padding: 50px;
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	height: 350px;
}
input[type="submit"].btn.account-reg {
	display:none;
}
.frost {
	background: rgba(37, 80, 101, 0.67);
	width: 100%;
	max-width: 350px;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top:10%;
	overflow: hidden;  //adding overflow hidden
    
}


//calendar

.page-template-param-table .monthly-updates, .page-template-parameters .monthly-updates {
    padding: 43px 0px 0px 0px;
    height: 90px;
}
.month {
	width:90px;
	float:left;
	z-index: 77;
    position: relative;
}
.day {
	background:$input-text!important; 
	width:7px;
	height:7px;
	float:left;
	margin:4px 0px 0px 4px;
}

.no-change {
	background:$no-change!important; 
}
.one-change {
	background:$one-change!important; 
}
.two-change {
	background:$two-change!important; 
}
//Parameters page

.param-close {
	position: absolute;
    right: 10px;
	width: 25px;
	border-radius:35px;
	padding: 5px 7px 0px 7px;
	float: right;
    line-height: 13px;
    display: block;
    font-weight: 400;
    z-index:77;
    height: 25px;
    color: #47caae !important;
    text-align: left;
    border-radius: 15px;
    letter-spacing: 1px;
    margin: 0 auto;
	color:$input-text!important; 
	border:1px solid $input-bg;  
	transition: all 0.5s ease-in-out;
	&:hover{
		background:$input-bg-hov;
		transition: all 0.5s ease-in-out;
	}
	@include media ($phone) { 
		.text {
			display:none;
			}}}
.params {
	margin: 10px 0px 0px 0px;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0px 30px 0px 10px;
    position:relative;
    z-index:77;
}			

.param-chart {
	width:300px;
    height: 150px;
    display:block;
    float:left;
    margin: 10px 40px 0px 0px;

}

//param tables
.param-table {
	padding-top:50px;
	margin-top:30px;
    width: 100%;
    max-width: 290px;
    float:left;
}


.filters {
	width: 340px;
    float: none;
    margin: 13px 0px 0px 0px;
    z-index: 999;
    position: relative;

}
.hasDatepicker {
	    width: auto!important;
   		 padding: 4px!important;
   		 float:left!important;
   		 margin-right:10px!important;

}
.ui-datepicker {
	background: $menu!important;
	padding:10px;
}

.ui-datepicker-calendar {
	width:230px;
	
 th {
	max-width: 50px!important;
}

}
.ui-datepicker-prev {
	float:left!important;
}
.ui-datepicker-next {
	float:right!important;
}
.ui-datepicker-title {
	text-align:center!important;
}

//Tank Selection page

.edit-tank-stock {
	@include font-size(0.9); 
	// opacity:0.4;
	width: 30px;
    height: 13px;
    margin: 0px 0px 19px -10px;
    transition: all 0.5s ease-in-out;
    &:hover {
    	opacity:1;
    	transition: all 0.5s ease-in-out;
    }
}

.a_tank {
	width: 50%;
    margin: 0px;
    height: 500px;
    float:left;
    position:relative;
   @include media ($phone) { 
		width:100%;
	}

    	
    	
		.tank_img {
			opacity: 0.8;
			transition: all 0.5s ease-in-out;
		}
		.shader {
			opacity:0.8;
			transition: all 0.5s ease-in-out;
		}



    h2 {
        font-weight: 100;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }
  span {
    	margin-right:10px;
    	text-transform:uppercase;
    }
    .content {
  		color:$white;
  		width:100%;
		height: 160px;
    	text-align:left;
    	font-weight:100;
    	// background:$bg-trans ;
		position: absolute;
		padding:80px 0px 0px 10px;
    	top: 0;
    	z-index: 66;
        text-align: center;
    }
    .shader {
    	background:url(../images/shader.png);
    	background-size: cover;
    	z-index: 90;
		background-position: -110px 0px;
    	width: 100%;
    	height: 500px;
    	position: absolute;
    	top: 0;
    	z-index: 55;
    	transition: all 0.5s ease-in-out;
    }
	.tank_img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: absolute;
    top: 0;
    z-index: 44;
    opacity:1;
    transition: all 0.5s ease-in-out;

	}


}


		.fa-3x {
		opacity:1;
		transition: all 0.5s ease-in-out;
		}
		.fa-3x {
		margin:10px 10px 0px 10px;
		transition: all 0.5s ease-in-out;
		cursor:pointer;
		color:$white; 
		border-radius: 35px;
		width: 60px!important;
		height: 60px;
		padding: 17px;
		@include font-size(1.1); 
		border:1px solid $white;  
		transition: all 0.5s ease-in-out;
		&:hover{
			background:$input-bg;
			border:1px solid $input-text; 
			color:$input-text; 
			transition: all 0.5s ease-in-out;
		}
	}



//tank_header

.tank_header {
	    margin-bottom: 50px;
	h2 {
        font-weight: 100;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
  span {
    	margin-right:10px;
    	text-transform:uppercase;
    }
}




//overview page

.side-bar {
	@include media ($tablet){
	display:none;	
	}
}
.sticky {
	position:fixed;
	left:51%;
	top:44px;
		@include media ($tablet){
	display:none;	
	}
}

.page-template-overview {

.param-table.large {
		width:100%;
		max-width: 450px;
		padding-top:5px;
		margin-top:10px;
	}

	.overview_tank {
	width: 100%;
    margin: 0px;
    height: 100%;
    float:left;
   @include media ($phone) { 
		width:100%;
	}

    .content {
  		color:$white;
  		width:100%;
		height: 160px;
    	text-align:left;
    	font-weight:100;
    	// background:$bg-trans ;
		position: relative;
		padding:80px 0px 0px 10px;
    	top: 0;
    	z-index: 66;
    }
    .shader {
    	background:url(../images/shader.png);
    	background-size: cover;
    	z-index: 90;
		background-position: -110px 0px;
    	width: 100%;
    	opacity:0.1;
    	height: 500px;
    	position: absolute;
    	top: 0;
    	z-index: 55;
    	transition: all 0.5s ease-in-out;
    }
	.tank_img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: absolute;
    top: 0;
    opacity:0.2;
    z-index: 44;

	}
}

.gallery {
	.img-contain {
		width:100%;
		float:left;
		overflow:hidden;

		img {
			max-width:110%;
			opacity:1;
			&:hover {
				opacity:0.8;
			}
		}
	}
}

}
//Journal form

			.select2-dropdown {
				background: $menu;
				border:none;
			}
.select2-selection__choice {
	background:none!important;
	border:solid 1px $white!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {

	background:rgba(71, 202, 174, 0.6);
	    	transition: all 0.2s ease-in-out;
	    	}

		#journal-form.show {
			top: 0px;
			opacity:1;
			transition: all 0.5s ease-in-out;
		}
		#journal-form {
    		position: fixed;
    		opacity:0;
    		top: -230px;
    		left: 0;
    		right: 0;
    		margin: 0 auto;
			width:100%;
			z-index:99999999;
			transition: all 0.5s ease-in-out;

				.select2-selection {
				border:none;
				margin: 0px;
    			background: $menu;

			}
		
	
		.img-contain {
    position: absolute;
    z-index: 999999999;
    width: 40px;
    height: 40px;
    border-radius: 70px;
    left: 71px;
    top: 148px;
    overflow: hidden;
		}
		#output {
	    position: relative;
    display: block;
    outline: none !important;
    width: 100%;
    border: 0px;
    color: #47caae;
    min-width: 120px;
		}
		.status {
				position: relative;
				display: block;
				overflow-y: auto;
				height: 140px;
				outline: none!important;
				width:100%;
				background: $menu;
				border:0px;
				color:$input-text;
				padding:10px 10px 10px 10px;
			}		
			fieldset {
				background: $menu;
				border:0px;
				height:56px;
				button {
					float:right;

				}
			}

		article {
				height:auto;
				overflow:hidden;
				max-height:400px;
				width:100%;
				background:$status-blue;
				border:0px;
				color:$input-text;
				padding:10px 10px 10px 10px;
				margin:10px 0px 10px 0px;

				.icon {
					width:30px;
					height:30px;
					border-radius:30px;
					background:$white;
					float:left;
					margin:0px 10px 0px 0px;
				}
				.user-info {
					line-height: 27px;
					margin:6px 0px 0px 0px;
					width:100%;
				}
				.post-content {
					width:100%;
					float:none;
					padding:10px 0px 10px 0px;
				}
				.post-img {
					margin:20px 0px 20px 0px;
				}
		}
	}


	.wp-post-image {
			width:100%;
			height:auto;
			}

.single-user_journals {

.post {
	@include post;
}

}


/*

community styles

article {
				height:auto;
				overflow:hidden;
				max-height:400px;
				width:100%;
				background:$status-blue;
				border:0px;
				color:$input-text;
				padding:10px 10px 10px 10px;
				margin:10px 0px 10px 0px;

				.icon {
					width:30px;
					height:30px;
					border-radius:30px;
					background:$white;
					float:left;
					margin:0px 10px 0px 0px;
				}
				.user-info {
					line-height: 27px;
					margin:6px 0px 0px 0px;
					width:100%;
				}
				.post-content {
					width:100%;
					float:none;
					padding:10px 0px 10px 0px;
				}
				.post-img {
					margin:20px 0px 20px 0px;
				}
		}

*/



//param-table page
.full-param {
	width:100%;
	.param-charts {
		max-width:600px;
		width:100%;
		height:350px;
	}

	.param-table {
		padding-top:0px;
    margin: 20px 0px 0px 10px;
    width: 100%;
    max-width: 580px;
	}
}
.aparam {
	padding-top:10px;
	margin:10px 20px 10px 10px;
    width: 100%;
    max-width: 290px;
    float:left;
    height:500px;
}


//stock page
.type-menu {
	height:80px;
	margin-bottom:20px;

.menu-item-contain.selected {
	background:$input-bg;
	border:1px solid $input-text; 
	color:$input-text; 
	transition: all 0.5s ease-in-out;
}
.menu-item-contain {
    height: 75px;
    width: 75px;
    border: 1px solid $white;
    border-radius: 75px;
    display: block;
    padding: 16px 10px 10px 13px;
    float:left;
    margin: 40px 5px 20px 8px;
     transition: all 0.5s ease-in-out;
		&:hover{
			background:$input-bg;
			border:1px solid $input-text; 
			color:$input-text; 
			transition: all 0.5s ease-in-out;
		}

	.menu-item {
    height: 38px;
    width: 50px;
    background: url(../images/stock_icons.png);
    display: block;
    background-size: 260px 38px;

	}
	.fish {
	background-position-x: 191px;
}
.plant {
	background-position-x: 123px;
}
.invert {
	background-position-x: 50px;
}
}

}

#stock-form {
	width:300px;
}

.stock-actions {
	width: 120px;
    height: 120px;
    position: absolute;
    text-align:center;
	line-height:120px;
	opacity:0;
	transition: all 0.5s ease-in-out;
    a {
    	margin:0px 5px 0px 5px;	
    }
    .larger-icon {
    	color:$white;
    	opacity:0.5;
    	@include font-size(1.6);
    	transition: all 0.5s ease-in-out;
  
    	&:hover {
    		opacity:0.9;
    		transition: all 0.5s ease-in-out;
  
    	}
    }
    &:hover {
    	background: rgba(5, 7, 25, 0.54);
		opacity:1;
    	transition: all 0.5s ease-in-out;
  
    }
}

.add-stock {
	.add-livestock {
	margin:0px;
	float:left;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: #fff;
    border-radius: 95px;
    width: 120px !important;
    height: 120px;
    padding: 20px;
    font-size: 11px;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
  
}
  li.name {
    	margin-top: 18px;
    }
}
.stock-item {
	position:relative;
	float: left;
	height: 150px;
    width: 400px;
    margin:50px 0px 20px 0px;
    .fa-arrow-circle-right {
    	color:$white;
    	@include font-size(2.5);
    	position:absolute;
    	z-index:9999;
       left: 106px;
    	margin: 53px 0px 0px 0px;
    }
    .stock-img {
    	float:left;
    	height: 120px;
    	width: 120px;
    	border-radius: 100px;
    	background-size:cover!important;	
    }
    .stock-data {
    	float:left;
		padding: 30px 0px 0px 22px;
    	li {
    		color:white;
    		@include font-size(1.2);
    	}
    	li.name {
    		@include font-size(1.8);
    		text-align:left;
    		.edit-tank-stock {
				margin: 0px 0px 0px 4px;
    		}
    	}
    	li.data {
    		float:left;
    		margin-right:10px;
    	}
    }
}

//journals

	section.frame.post {
		// @include half;
		// margin:0 auto!important;
	

		.tags {
			float:none;
			width:100%;
			height:20px;
			display:block;
			margin:10px 0px 0px 0px;
			ul li {
				float:left;

				a {
					@include font-size(0.8);
					background: $white-trans;
					margin: 0px 8px 0px 0px;
					padding: 3px 8px 3px 8px;
					border-radius: 19px;
				}
			}
		}
	}

#datepicker {
	width:200px;
}	


//community
// .page-template-overview,.page-template-overview .wrap, .page-template-overview .frame,.page-template-overview #overflow  { height:100%!important;  }
// .page-template-community,.page-template-community .wrap, .page-template-community .frame,.page-template-community #overflow  { height:100%!important;  }



#overflow {
	// overflow-y:scroll;
}
.feed {

.fave {
	float:right;
}
		
	article {
		background: $white-trans;
   		padding: 10px;
    	margin: 10px 10px 0px 0px;	
    	height:auto;
    	min-height: 170px;
    	p {
    		    margin-bottom: 40px;
    	}
    	.user-info {
    		height:50px;
    		margin-bottom: 0px;
    	}
    	img.avatar {
    		width:30px;
    		height:30px;	
    		border-radius:20px;
    		float:left;
    	}
    	span {
			float:left;
			margin: 5px 0px 20px 10px;
    	}
	}

	.grid-item { 
		@include full;
		}

}
.people-feed {
	@include two;
	padding-right:50px;
	margin-right:50px;
	border-right:1px solid $blue-line;

	.person {
			@include full;
    		display: block;
    		height:35px;
    		float: left;
    		margin:3px 3px 0px 0px;
    		padding:10px;
		}
	}
	.user-info {	
			height:40px;
			margin-bottom:5px;
		p {
			float:left;
			margin: -6px 0px 0px 8px;
		}
		img.avatar {
    		width:30px;
    		height:30px;	
    		border-radius:30px;
			float:left;
    	}
    	span {
			float:left;
			margin: 5px 0px 20px 10px;
    	}
}
